<%- include('../layouts/header.ejs') %>
  <div class="hero_bg_box">
        <img src="/assets/images/hero-bg.png" alt="" />
      </div>
      <!-- slider section -->
      <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>We Provide Best Healthcare</h1>
                      <p>
                        All of our patient care, education and research are
                        driven to make <br />
                        discoveries that can help heal you.
                      </p>
                      <div class="btn-box">
                        <a href="#department" class="btn1 button">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Providing appropritate health care for seniors and
                        childrens
                      </h1>
                      <p>
                        Explicabo esse amet tempora quibusdam laudantium,
                        laborum eaque magnam fugiat hic? Esse dicta aliquid
                        error repudiandae earum suscipit fugiat molestias,
                        veniam, vel architecto veritatis delectus repellat modi
                        impedit sequi.
                      </p>
                      <div class="btn-box">
                        <a href="#department" class="btn1 button">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        We're here when you need us — for every care in the
                        world.
                      </h1>
                      <p>
                        Getting an appointment at Care Clinic is easy. Schedule
                        using any of these convenient options.
                      </p>
                      <div class="btn-box">
                        <a href="#department" class="btn1 button">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li
              data-target="#customCarousel1"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- department section -->

    <section class="department_section layout_padding" id="department">
      <div class="department_container">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>Our Departments</h2>
            <p>
              Our fantastic team of specialised doctors and nurses in our
              emergency department have extensive <br />
              experience handling all cases from minor outpatient treatment
            </p>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="box">
                <div class="img-box">
                  <img src="/assets/images/s1.png" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Cardiology</h5>
                  <p>
                    branch of medicine that deals with disorders of the heart
                    and the cardiovascular system.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <div class="img-box">
                  <img src="/assets/images/s2.png" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Diagnosis</h5>
                  <p>
                    The process of identifying a disease, condition, or injury
                    from its signs and symptoms. A health history, physical
                    exam, and tests.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <div class="img-box">
                  <img src="/assets/images/s3.png" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Surgery</h5>
                  <p>
                    an invasive technique with the fundamental principle of
                    physical intervention on organs/organ systems/tissues.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <div class="img-box">
                  <img src="/assets/images/s4.png" alt="" />
                </div>
                <div class="detail-box">
                  <h5>First Aid</h5>
                  <p>
                    the emergency or immediate care you should provide when a
                    person is injured or ill until full medical treatment is
                    available
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-box">
            <a href="departments.html"> View All </a>
          </div>
        </div>
      </div>
    </section>

    <!-- end department section -->

    <!-- about section -->

    <section class="about_section layout_margin-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="/assets/images/about-img.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>About <span>Us</span></h2>
              </div>
              <p>
                At Care Health, we believe that every individual deserves access
                to high-quality healthcare services. That's why we are dedicated
                to providing comprehensive medical care to patients of all ages
                and backgrounds. Our team of experienced healthcare
                professionals is committed to delivering personalized and
                compassionate care, using the latest technologies and treatment
                methods to achieve the best possible outcomes for our patients.
                Whether you need routine check-ups, diagnostic tests, or
                advanced treatments, you can count on us to provide the care you
                need in a welcoming and supportive environment. We are proud to
                be a trusted provider of healthcare services in our community,
                and we look forward to serving you and your family for all your
                healthcare needs.
              </p>
              <a href="about.html"> Read More </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- doctor section -->

    <section class="doctor_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Our Doctors</h2>
          <p class="col-md-10 mx-auto px-0">
            Our doctors are highly trained and skilled healthcare professionals
            who play a critical role in helping individuals maintain their
            health and well-being. They are trained to diagnose and treat a wide
            range of illnesses and conditions, and are dedicated to improving
            the lives of their patients. In addition to providing medical care,
            doctors also educate their patients on healthy habits and lifestyle
            choices that can promote better health outcomes. Doctors may
            specialize in a particular area of medicine, such as pediatrics,
            cardiology, or oncology, among others, and they work closely with
            other healthcare professionals to ensure that their patients receive
            the best possible care.
          </p>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4 mx-auto">
            <div class="box">
              <div class="img-box">
                <img src="/assets/images/d1.jpg" alt="" />
              </div>
              <div class="detail-box">
                <div class="social_box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </div>
                <h5>Elina Josh</h5>
                <h6 class="">Doctor</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 mx-auto">
            <div class="box">
              <div class="img-box">
                <img src="/assets/images/d2.jpg" alt="" />
              </div>
              <div class="detail-box">
                <div class="social_box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </div>
                <h5>Adam View</h5>
                <h6 class="">Doctor</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 mx-auto">
            <div class="box">
              <div class="img-box">
                <img src="/assets/images/d3.jpg" alt="" />
              </div>
              <div class="detail-box">
                <div class="social_box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </div>
                <h5>Mia Mike</h5>
                <h6 class="">Doctor</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="doctors.html"> View All </a>
        </div>
      </div>
    </section>

    <!-- end doctor section -->

    <!-- client section -->

    <section class="client_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center mt-5">
          <h2>Testimonial</h2>
        </div>
        <div
          id="carouselExample2Controls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-11 col-lg-10 mx-auto">
                  <div class="box">
                    <div class="img-box">
                      <img src="/assets/images/client.jpg" alt="" />
                    </div>
                    <div class="detail-box">
                      <div class="name">
                        <h6>Alan Emerson</h6>
                      </div>
                      <p>
                        I cannot recommend Care Medical highly enough. The care
                        and attention I received from their team of healthcare
                        professionals were exceptional. They took the time to
                        understand my unique health needs and provided me with
                        personalized care that was tailored to my specific
                        condition. The facilities were modern and
                        state-of-the-art, and I felt comfortable and supported
                        throughout my entire treatment. From the initial
                        consultation to the follow-up appointments, the staff at
                        ABC Medical went above and beyond to ensure that I
                        received the best care possible. Thanks to their
                        expertise and dedication, I am now on the road to
                        recovery and feeling better than ever before. If you are
                        looking for a healthcare provider that truly cares about
                        their patients, I highly recommend ABC Medical.
                      </p>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-11 col-lg-10 mx-auto">
                  <div class="box">
                    <div class="img-box">
                      <img src="/assets/images/client2.jpg" alt="" />
                    </div>
                    <div class="detail-box">
                      <div class="name">
                        <h6>David Phillips</h6>
                      </div>
                      <p>
                        I recently had the pleasure of receiving care from the
                        team at HealthFirst, and I couldn't be happier with my
                        experience. From the moment I walked in the door, I was
                        greeted with warmth and kindness from the staff. The
                        doctors were knowledgeable, professional, and took the
                        time to answer all of my questions and concerns. The
                        facilities were clean and modern, and I felt at ease
                        throughout my entire visit. What stood out to me the
                        most was the level of personalized care I received. The
                        team at HealthFirst took the time to understand my
                        unique health needs and provided me with a treatment
                        plan that was tailored to my specific condition. Thanks
                        to their expertise and dedication, I am now on the path
                        to a healthier and happier life. If you are looking for
                        a healthcare provider that puts their patients first, I
                        highly recommend HealthFirst.
                      </p>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-11 col-lg-10 mx-auto">
                  <div class="box">
                    <div class="img-box">
                      <img src="/assets/images/client3.jpg" alt="" />
                    </div>
                    <div class="detail-box">
                      <div class="name">
                        <h6>William Foster</h6>
                      </div>
                      <p>
                        I recently visited the care Urgent Care center, and I
                        was very impressed with the level of care and service I
                        received. The staff was friendly, efficient, and
                        professional, and the facilities were clean and
                        well-maintained. The doctor who treated me, Dr. Sarah
                        Lee, was excellent. She listened carefully to my
                        symptoms, provided a thorough diagnosis, and offered a
                        treatment plan that was both effective and manageable. I
                        appreciated her attention to detail and the fact that
                        she took the time to answer all of my questions.
                        Overall, my experience at ABC Urgent Care was top-notch,
                        and I highly recommend this facility to anyone in need
                        of prompt and professional medical attention."
                      </p>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel_btn-container">
            <a
              class="carousel-control-prev"
              href="#carouselExample2Controls"
              role="button"
              data-slide="prev"
            >
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExample2Controls"
              role="button"
              data-slide="next"
            >
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- end client section -->

    <%- include('../layouts/footer.ejs') %>