 <!-- footer section -->
 <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 footer_col">
          <div class="footer_contact">
            <h4>Reach at..</h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> Location </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span> Call +01 1234567890 </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> demo@gmail.com </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 footer_col">
          <div class="footer_detail">
            <h4>About</h4>
            <p>
              Beatae provident nobis mollitia magnam voluptatum, unde dicta
              facilis minima veniam corporis laudantium alias tenetur eveniet
              illum reprehenderit fugit a delectus officiis blanditiis ea.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>Links</h4>
            <div class="footer_links">
              <a class="active" href="index.html"> Home </a>
              <a class="" href="about.html"> About </a>
              <a class="" href="departments.html"> Departments </a>
              <a class="" href="doctors.html"> Doctors </a>
              <a class="" href="contact.html"> Contact Us </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <p>
          made with <i class="fa fa-heart" aria-hidden="true"></i> All Rights
          Reserved &copy; <span id="displayYear"></span>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script
    type="text/javascript"
    src="/assets/js/jquery-3.4.1.min.js"
  ></script>
  <!-- popper js -->
  <script type="text/javascript" src="/assets/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script
    type="text/javascript"
    src="/assets/js/owl.carousel.min.js"
  ></script>
  <!-- custom js -->
  <script  type="text/javascript" src="/assets/js/custom.js"></script>

</body>
</html>
